@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --principal-color: rgba(24, 32, 111, 0.6);
  --accent-color: #eb9d1e;
  --light-color: #f9f5f2;
  --gray: rgb(59, 59, 59);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  align-items: center;
  justify-content: center;
 
}

canvas{
z-index: -999;
position:fixed;
top: 0;
left: 0;
}

main {
  min-height: 100vh;
  backdrop-filter: saturate(2%) blur(2.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

html {
  scroll-behavior: smooth;
}


.glass {

  min-height: 80vh;
  width: 100%;

  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.65),
    rgba(255, 255, 255, 0.4)
  );

  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  
}

section {
  min-height: 100vh;
}

/* NAV BAR*/
nav {
  position: relative;
  inset: 0px 0px 0px 0px;
  width: 38px;
  z-index: 999;
}

nav .navbar {
  z-index: 999999999999;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  background-color: rgba(24, 32, 111, 2);
  backdrop-filter: saturate(20%) blur(16px);
  list-style: none;
}

.navbar a {
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  margin-top: 2px;
  text-decoration: none;
  display: flex;
}

a .fa-solid {
  padding: 20px 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.navbar a:hover{
  color: rgba(242, 246, 161, 9.946);
}

/*header*/
header {
  background-color: rgba(24, 32, 111, 0.4);
  text-align: left;
  padding-left: 108px;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 100vh;
  transform: translate(-50% -50%);
}

header div {
  display: block;
  font-size: 28px;
  width: 75%;
}

.text-1 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: 900;
  background: transparent;
  position: relative;
  animation: text 3s 1;
}

.text-2 {
  margin-bottom: 55px;
 
  animation: sub 4s 1;
}

@keyframes text {
  0% {
    color: transparent;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 30px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 2px;
    margin-bottom: -40px;
  }
}

@keyframes sub {
  0% {
    color: transparent;
  }
  75% {
    color: transparent;
  }
}

.profile-text {
  margin-bottom: 40px;
  letter-spacing: 7px;
  font-size: 40px;
  font-weight: 900;
}
.border-1 {
  z-index: 10;
  list-style: none;
  height: 30px;
  width: 30px;
  display: flex;
  left: 60%;
  right: 0;
  bottom: 60%;
  top: 0%;
  margin: auto;
}

.border-1 .git-icon {
  z-index: 90000;
  list-style: none;
  -webkit-animation: circle 22s linear infinite;
  animation: circle 32s linear infinite;
  animation-play-state: running;
}

.border-1 .git-icon:hover {
  animation-play-state: paused;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-130px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-130px) rotate(-360deg);
  }
}

.border-1 .linkedin-icon {
  z-index: 90000;
  position: absolute;
  list-style: none;
  animation: rotation 32s linear infinite;
  animation-play-state: running;
}

.border-1 .linkedin-icon:hover {
  animation-play-state: paused;
}

@keyframes rotation {
  0% {
    transform: rotate(-180deg) translate(-130px) rotate(180deg);
  }
  100% {
    transform: rotate(180deg) translate(-130px) rotate(-180deg);
  }
}

.border-1,
.border-2 {
  border-radius: 50%;
  position: fixed;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}


.border-2 > img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit:contain;
}

.social-icon img {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.section {
  padding: 0rem;
}

h2 {
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h5, h3{
  color: #fff;
}
h3{
  padding: 1rem;
}
small, h4, h6{
  color: black;
}


.text-center {
  padding: 40px;
  margin-top: 90px;
  margin-bottom: 100px;
  margin-left: 120px;
  font-size: 50px;
 
}





section > .section-about {
  padding: 0rem 0rem 0rem 0rem;

  margin-left: 130px;
}

.section-about {
  font-size: 22px;
}
.section-about h2 {
  margin-left: 0;
}



.education-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.estudios-card {
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: var(--light-color);
  text-align: center;
  width: 200px;
  min-width: 200px;
  text-align: center;
  margin-left: 12px;
}

.estudios-card > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.skill img {
  height: 150px;
  width: 150px;
  object-fit: scale-down;
 
}

.education-card img{
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin-top: 1rem;
  padding: 0;
}
.skill, .education-card {
  height: 400px;
  width: 350px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: var(--light-color);
  border-radius: 1rem;
}

.skills-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}






.carousel-item {
  padding-top: 40px;
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 400px;
  text-align: center;
  background-color: rgba(81, 80, 160, 0.57);
  border-radius: 1rem;
 
}



.carousel-item > img {

  width: 200px;
  height: 200px;
  object-position: center;
  align-items: center;
  object-fit:contain;
  margin: 0 auto;
}



.contact {

  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  
}
section > .contact{
margin-top: -80px !important ;
}

a{
  text-decoration: none;
}

.contact-card {
  padding: 1rem;
  text-align: center;
}

.contact-image {
  height: 70px;
  width: 70px;
  justify-content: center;
  object-fit: contain;
}

.contact-img {
  background-color: var(--light-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem auto;
}

footer {
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgba(24, 32, 111, 0.3);
  color: white;
  min-height: 100vh;
}
.nav-item{
  background-color: white;
  border-radius: 10px;
}

form{
  
  width: 300px;
  font-size: 16px;
}
form h3 {
  text-align: center;
}

.input-group{
  margin-bottom: 30px ;
  position: relative;
}
 input,  textarea{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid var(--light-color);
  background: transparent;
  color: var(--light-color);
  box-sizing: border-box;
  resize: vertical;
  border-radius: 10px;
}
label{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  cursor: text;
  transition: 0.2s ;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
  top: -35px;
  font-size: 14px;
}


form button{
  background: var(--principal-color) ;
  color: var(--light-color);
  padding: 10px 15px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
form button:hover{
  background: var(--accent-color);
}

.btn-download {
  background: rgba(255, 255, 255, 0.29);
  padding: 0.5rem 1rem;
  border-radius: 50%;
  display: flex;
  width: 200px;
  height: 200px;
  margin: 0.5rem auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 35px;
  animation: resume 7s linear infinite;

}

.btn-download:hover{
  animation-play-state: paused;
  background-color: rgb(248, 238, 147, 0.4) ;
}

a .resume-coin {


  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 100px;
}

@keyframes resume {
  0%{
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg) ;
  }
}

@media (height >= 806px) {

  .border-1{
    bottom: 33% !important;
  }
  
}

@media screen and (max-width: 800px) {
  nav {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    display: flex;
    list-style: none;
    z-index: 10;
    height: 25px;
  }

  nav .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--principal-color);
    backdrop-filter: saturate(100%) blur(20px);
    width: 100%;
    padding: 2px;
    gap: 25px;
    top: 65%;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    width: 100%;
  }

  .navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }

  a .active .fa-solid {
    padding: 5px 5px;
  }

  .navbar a i {
    font-size: 25px;
  }

  .border-1,
  .border-2 {
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  .border-1 {
    z-index: 10;
    list-style: none;
    height: 20px;
    width: 20px;
    display: flex;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 20%;
    top: 0%;
    margin: auto;
  }

  h5 {
    margin: 0;
  }

  header {
    padding: 1rem 0px 0px 1rem;
  }

  section > .section-about {
    margin-left: 20px;
  }

  .section-about > h2 {
    margin-bottom: 0px;
    text-align: center;
  }

  .section-skills > h2 {
    margin-bottom: 6rem;
  }

  .profile-text {
    font-size: 22px;
    margin-top: .5rem;
    margin-bottom: 320px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    display: flex;
  }

  .text-1 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .text-2 {
    margin-bottom: 19px;
    font-size: 17px;
  }

  .text-center {
    font-size: 40px;
    padding-top: 50px;
    margin-left: 0;
    margin-bottom: 11rem;
    text-align: center;
  }

  .contact {

    display: flex;
    flex-direction: column;
  }

  .contact-card {
    display: flex;
    flex-direction: column;
  }
  .education-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }



}

@media screen and (min-width: 860px) {
  .section {
    padding: 1rem 5rem;
  }

  .contact {
  
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 1rem 10rem;
  }
}
